/* portfolio img */
.overlay {
    position: relative;
    cursor: pointer;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1ABC9C;
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: inherit;
}

.overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    z-index: 100;
    transition: all 0.5s ease;
    opacity: 0;
}

.overlay:hover::after,
.overlay:hover i {
    opacity: 0.8;
}

/* footer */
footer .social-media-icons .icon {
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

footer .social-media-icons .icon:hover i {
    color: #1ABC9C;
}


/* navbar */
.active {
    background: #1ABC9C;
}